<ul>
    <% if(subscriptions && subscriptions.length > 0) { %>
      <strong>Webhook Subscriptions</strong>
      <% subscriptions.forEach(sub => { %>
        <li><strong><%= sub.id %></strong> <strong><%= new Date(sub.expirationDateTime).toLocaleString() %></strong></li>
      <% }) %>
    <% } %> <!-- Close the if block -->
  </ul> <!-- Close the ul -->

  <form action="/send-email" method="POST">
    <button type="submit">Send Test Email</button>
  </form>
  
  <form action="/list-subs" method="POST">
    <button type="submit">List Subs</button>
  </form>
  
  <form action="/extend-subs" method="POST">
    <button type="submit">Extend Subs</button>
  </form>
  
  <form action="/emails" method="GET">
    <button type="submit">Show Emails</button>
  </form>
  